<html lang="en-us">
<head>
    <title>Stable Diffusion UI</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
<div class="row banner">
    <div class="col-md-12">
        <h2>Stable Diffusion UI</h2>
    </div>
    <div class="col-md-12">
        <h6>Input prompt below, enter options, click imagine</h6>
    </div>
</div>
<div class="content">
    <form onsubmit="imagine(event)">
        <div class="row header-text">
            <div class="col-md-8">
                <label for="prompt">Prompt:</label>
                <textarea class="form-control"
                          rows="3"
                          id="prompt"
                          placeholder="Ron Desantis butt-naked on the debate stage"
                          required
                ></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label for="height">Image height:</label>
                <input class="form-control" type="number" id="height" name="height" maxlength="4" value="512">
            </div>
            <div class="col-md-2">
                <label for="width">Image width:</label>
                <input class="form-control" type="number" id="width" name="width" maxlength="4" value="512">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label for="samples">Number of samples:</label>
                <input class="form-control" type="number" id="samples" name="samples" value="4">
            </div>
            <div class="col-md-2">
                <label for="rows">Number of rows:</label>
                <input class="form-control" type="number" id="rows" name="rows" value="2">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label for="iterations">Number of iterations per sample:</label>
                <input class="form-control" type="number" id="iterations" name="iterations" value="2">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
                <button type="submit" id="imagine_button" class="btn btn-dark">
                    <span id="imagine-spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                    <span class="imagine-text">Imagine</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div id="generating" hidden>
                    <p>
                        <i>(don't close this window)</i>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="output">
</div>
</body>
</html>